In [5]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [7]:
# Import combined data
path = "/Users/Glebazzz/Jupiter/04.25 Instacart Basket Analysis" 
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

In [8]:
df = ords_prods_merge [:1000000]
df

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,hour,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1057634,528537,63700,13,5,14,3.0,9,1,both
999996,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1057635,3000197,63700,14,1,14,3.0,9,1,both
999997,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1079515,2372562,65043,37,3,11,8.0,4,0,both
999998,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1081395,2027185,65162,8,5,14,8.0,2,0,both
999999,2029,Swirl Thick Slice Brown Sugar Cinnamon Bread,112,3,8.3,1081414,3020289,65162,27,6,11,30.0,3,1,both

In [11]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [13]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/fc/s6516jc11cj94_khwgp9nvn00000gq/T/ipykernel_92393/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [15]:
df['price_range'].value_counts (dropna = False)

price_range
Mid-range product    659373
Low-range product    331283
High range             9344
Name: count, dtype: int64

In [17]:
df['prices'].max()

24.5

In [23]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [25]:
df['price_range_loc']. value_counts(dropna = False)

price_range_loc
Mid-range product     659373
Low-range product     331283
High-range product      9344
Name: count, dtype: int64

In [27]:
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product' 
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'
ords_prods_merge['price_range_loc']. value_counts(dropna = False)

price_range_loc
Mid-range product     21890146
Low-range product     10126384
High-range product      417682
Name: count, dtype: int64

In [29]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [31]:
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")
ords_prods_merge['busiest_day'] = result
ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,hour,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,1788356,200215,2,0,9,5.0,27,0,both,Mid-range product,Busiest day
32434208,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3401313,200377,1,4,11,NaN,5,0,both,Mid-range product,Least busy
32434209,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,809510,200873,5,3,8,15.0,12,0,both,Mid-range product,Regularly busy
32434210,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,2359893,200873,9,3,15,5.0,11,1,both,Mid-range product,Regularly busy
32434211,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,2385091,205926,11,1,15,6.0,35,0,both,Mid-range product,Regularly busy

## Ex

Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [35]:
# Creating a new column 'busiest_days' for the two busiest and the two slowest days
result = []

for value in ords_prods_merge["orders_day_of_week"]:
  if value in[0,1]:
    result.append("Busiest days")
  elif value in [3,4]:
    result.append("Least busy days")
  else:
    result.append("Regularly busy")
ords_prods_merge['busiest_days'] = result
ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,hour,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy days
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,1788356,200215,2,0,9,5.0,27,0,both,Mid-range product,Busiest day,Busiest days
32434208,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3401313,200377,1,4,11,NaN,5,0,both,Mid-range product,Least busy,Least busy days
32434209,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,809510,200873,5,3,8,15.0,12,0,both,Mid-range product,Regularly busy,Least busy days
32434210,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,2359893,200873,9,3,15,5.0,11,1,both,Mid-range product,Regularly busy,Least busy days
32434211,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,2385091,205926,11,1,15,6.0,35,0,both,Mid-range product,Regularly busy,Busiest days

In [36]:
# Check frequency
print(ords_prods_merge['busiest_days'].value_counts(dropna=False))

busiest_days
Regularly busy     12927461
Busiest days       11875462
Least busy days     7631289
Name: count, dtype: int64

# Observation
After the execution of the code, Sunday and Monday were labelled as the busiest days, and Wednesday and Thursday were labelled as the least busy days

When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [41]:
# checking the busiest hours 
ords_prods_merge['hour'].value_counts(dropna = False)

hour
10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: count, dtype: int64

In [43]:
# Creating a new column 'busiest_period_of_day' 
result = []

for value in ords_prods_merge["hour"]:
  if value in[10,11,14,15,13,12,16,9]:
    result.append("Most orders")
  elif value in [17,8,18,19,20,7,21,22]:
    result.append("Average orders")
  else:
    result.append("Fewest orders")
ords_prods_merge['busiest_period_of_day'] = result
ords_prods_merge

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,order_id,user_id,order_number,orders_day_of_week,hour,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Regularly busy,Least busy days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434207,49688,Fresh Foaming Cleanser,73,11,13.5,3321928,1788356,200215,2,0,9,5.0,27,0,both,Mid-range product,Busiest day,Busiest days,Most orders
32434208,49688,Fresh Foaming Cleanser,73,11,13.5,3324686,3401313,200377,1,4,11,NaN,5,0,both,Mid-range product,Least busy,Least busy days,Most orders
32434209,49688,Fresh Foaming Cleanser,73,11,13.5,3332310,809510,200873,5,3,8,15.0,12,0,both,Mid-range product,Regularly busy,Least busy days,Average orders
32434210,49688,Fresh Foaming Cleanser,73,11,13.5,3332314,2359893,200873,9,3,15,5.0,11,1,both,Mid-range product,Regularly busy,Least busy days,Most orders
32434211,49688,Fresh Foaming Cleanser,73,11,13.5,3416620,2385091,205926,11,1,15,6.0,35,0,both,Mid-range product,Regularly busy,Busiest days,Most orders

In [45]:
# Check frequency
print(ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False))

busiest_period_of_day
Most orders       21137262
Average orders    10006752
Fewest orders      1290198
Name: count, dtype: int64

In [47]:
# Export the updated DataFrame
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_peaks.pkl'))